/WpfApp/.vs
/WpfApp/WpfApp/obj
/WpfApp/WpfApp/bin
/WpfApp/WpfDateTemplate/bin
/WpfApp/WpfDateTemplate/obj
/WpfApp/BindingTest/bin
/WpfApp/BindingTest/obj
/WpfApp/MVVM.Test/bin
/WpfApp/MVVM.Test/obj
/WpfApp/Style.Test/bin
/WpfApp/Style.Test/obj
